:root {
    --Spacing: 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-display: swap;
}

body {
    background-color: #fffcf7;
    display: flex;
    flex-direction: column;
}

.foto {
    display: none;
}

.InicioAppp {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content-class-sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#presentacion-screen {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#seccion-post {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 80px 0;
    position: relative;
    border-radius: 5px;
    gap: 10px;
}

#post_img {
    width: auto;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
}

.menu {
    height: auto;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    gap: 10px;
}

.controls {
    display: flex;
    height: 50px;
    gap: 20px;
    position: absolute;
    right: 0;
    padding: 20px 0 0 0;
    align-items: center;
}

.FotoUser {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 10px;
    right: 10px;
}

.iconLupa {
    height: 30px;
}

.marcaLogos {
    height: 50px;
    cursor: pointer;
    width: auto;
    margin: 0 120px;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 95%;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, #fffcf7 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 20s linear infinite;
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 50px;
    width: 250px;
}

.slide img {
    height: 50px;
}

.Icon {
    height: 100%;
}

.cardPresentacion {
    height: auto;
    width: 560px;
    border-radius: 33px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.ilustracion {
    height: 100%;
    width: 100%;
}

#ediciones {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#carruselSection-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 40px;
    width: 45%;
}

.card {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.container_imagenes {
    position: relative;
}

.presentacion-img {
    height: 200px;
    width: 200px;
    background-color: rgba(236, 236, 236, 0.63);
}

.imagenHover {
    display: none;
    height: 20px;
}

.presentacion-img:active+.imagenHover {
    content: "";
    height: 200px;
    width: 200px;
    background-color: #ffffff;
    position: absolute;
    display: grid;
    place-content: center;
    top: 0;
    padding: 20px;
    cursor: pointer;
}

#promociones {
    width: 62%;
    margin: auto;
    height: 20rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    overflow: hidden;
    overflow-x: scroll;
}

.imagen_producto_promocion {
    height: 100%;
    width: auto;
}

.text-marca {
    font-size: 4em;
    margin-top: -10px;
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 320px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 1;
}

.text_gradient {
    background: #FFBF9B;
    background: linear-gradient(to right, #FFBF9B 31%, #FFC52F 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 450px) {
    #promociones {
        width: 100%;
    }

    .makeUp-temporada {
        height: 100vh;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
    }

    .image-container {
        width: 100%;
    }

    .InicioAppp {
        height: auto;
        width: 100%;
        padding: 5px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
    }

    .content-class-sections {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #presentacion-screen {
        width: 100%;
        height: 75vh;
    }

    .text-marca {
        font-size: 2.7em;
    }

    .foto {
        display: block;
        border-radius: 50%;
        height: 45px;
        width: 45px;
    }

    .menu {
        height: auto;
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        display: flex;
        gap: 10px;
    }

    .controls {
        display: flex;
        flex-direction: row-reverse;
        height: fit-content;
        gap: 20px;
        position: absolute;
        right: 0;
        align-items: center;
        padding: 10px 0 0 0;
    }

    .FotoUser {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        top: 10px;
        right: 10px;
    }

    .iconLupa {
        height: 30px;
    }

    .Icon {
        height: 100%;
    }

    .cardPresentacion {
        height: auto;
        width: 100%;
        border-radius: 20px;
        z-index: 1;
        position: relative;
        overflow: hidden;
    }

    .ilustracion {
        width: 100%;
    }

    .userContact p {
        display: none;
    }

    .userContact {
        background-color: transparent;
    }

    .contact {
        display: none;
    }

    #ediciones {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: 70vh;
    }

    #carruselSection-cards {
        gap: 5px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .zahaIMG {
        display: none;
    }

    .card {
        width: 164px;
        user-select: none;
    }

    .makeUp_Ilustracion_picture {
        height: 164px;
        width: 164px;
        user-select: none;
    }

    .presentacion-img {
        height: 100%;
        background-color: rgba(236, 236, 236, 0.63);
        user-select: none;
    }

    .presentacion-img:hover+.imagenHover {
        height: 164px;
        width: 164px;
        user-select: none;
    }

    .marcaLogos {
        margin: 0 5px;
    }
}