:root {
    --Poppins: 'Poppins', sans-serif;
}

* {
    font-display: swap;
}

.Card_Container {
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 5px 5px 70px 5px;
    position: relative;
}

.card-ui {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 220px;
    overflow: hidden;
    animation: sing 350ms ease-in;
    position: relative;
}

@keyframes sing {
    to {
        opacity: 1;
    }

    from {
        opacity: 0;
    }
}

.info-products {
    width: 50%;
    position: relative;
    padding: 10px 0;
}

.container-picture {
    width: 100%;
    margin: auto;
    height: auto;
    display: grid;
    place-content: center;
    background-color: #f0ece641;
    /*ff990041, f0ece641*/
    cursor: pointer;
    border-radius: 10px;
    aspect-ratio: 1;
}

.Product-img {
    height: 100%;
    width: 100%;
    user-select: none;
    filter: drop-shadow(-6px 7px 0.5px rgba(0, 0, 0, 0.158));
    aspect-ratio: 1;
}

.marcaProducto {
    font-size: 1.2rem;
    color: #8d8d8d;
    font-weight: 200;
    font-family: var(--Poppins);
    letter-spacing: -.0769230769rem;
    cursor: pointer;
}

.marcaProducto:hover {
    text-decoration: underline;
}

.precio {
    font-size: 0.98rem;
    color: #8d8d8d;
    font-weight: 400;
    letter-spacing: -.0769230769rem;
}

@media (max-width: 450px) {
    .Card_Container {
        gap: 10px;
        padding: 0 0 70px 0;
    }

    .card-ui {
        width: 190px;
    }

    .container-picture {
        width: 190px;
        height: 190px;
        border: solid 1px rgba(230, 230, 230, 0.486);
    }

    .favorite__button {
        top: 5px;
        right: 5px;
        z-index: 1;
    }

    .marcaProducto {
        font-family: var(--Poppins);
        letter-spacing: -.0769230769rem;
        font-weight: 300;
        font-size: 18px;
    }
}