:root {
    --Poppins: 'Poppins', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.userContact {
    display: flex;
    font-size: 13px;
    color: #d8be85;
    padding: 5px;
    border-radius: 50px;
    gap: 10px;
    height: 50px;
}

.contact {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#name {
    font-weight: 600;
    font-size: 1.05rem;
    color: gray;
    font-family: var(--Poppins);
}

#correo {
    margin-top: -3px;
    font-family: var(--Poppins);
    letter-spacing: 1.2px;
    color: gray;
}