footer {
    width: 100%;
    padding: 40px 0;
    display: flex;
    width: 80%;
    margin: auto;
}

#correo_suscribe {
    border: solid 1px rgb(223, 223, 223);
    outline-color: rgb(194, 194, 194);
    background-color: transparent;
    width: 250px;
    font-size: 12px;
    padding: 8px 14px;
    letter-spacing: 0.5px;
    border-radius: 6px;
}

@media (max-width: 450px) {
    footer {
        padding-bottom: 90px;
    }
}