html {
    scroll-behavior: smooth;
    cursor: url('assets/cursor.svg'), auto;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

#root {
    background-image: radial-gradient(100% 10% at 10% 2%, rgb(255 187 0 / 14%) 0, rgba(0, 163, 255, 0) 50%, rgba(0, 163, 255, 0) 100%);
}